#first-page {
    .mainview {
        position: relative;
        display: block;
        background: $red_color;
        width: 100%;
        height: calc(100vh - 11.8rem);

        .big-smareno {
            position: absolute;
            left: 5.6rem;
            top: 3.2rem;
            aspect-ratio: 136 / 256;
            width: auto;
            height: 40%;
        }

        .mainview-bg {
            position: absolute;
            right: 0;
            top: 0;
            aspect-ratio: 435 / 298;
            width: auto;
            height: 42%;
        }

        .text-wrapper {
            display: flex;
            flex-direction: column;
            row-gap: 1.6rem;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: fit-content;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -80%);

            .main-text {
                font-family: 'Noto Sans JP';
                font-size: 6.8rem;
                font-weight: 500;
                line-height: 100%;
                color: #FFF;
                letter-spacing: 0.05em;

                span {
                    position: relative;
                    font-size: 7.8rem;
                    font-weight: 700;

                    &::before {
                        content: '';
                        width: 1.6rem;
                        height: 1.6rem;
                        border-radius: 90px;
                        background: $yellow_color;
                        position: absolute;
                        top: -0.4rem;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }

            .description {
                font-family: 'Noto Sans JP';
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 100%;
                color: #FFF;
            }
        }

        .background-img {
            position: absolute;
            width: 28%;
            bottom: 4.2rem;
            right: 4.8rem;
            opacity: 0.5;
        }
    }

    .section1 {
        position: relative;
        display: flex;
        margin-top: -2px;

        .half-left {
            background: $red_color;
        }

        .left-container {
            padding: 6.4rem 4.0rem;

            .head-texts {
                margin-bottom: 3.2rem;

                .text-jp {
                    margin-bottom: 1.2rem;
                    color: #FFF;
                }

                .text-en {
                    font-family: 'Montserrat';
                    font-size: 1.8rem;
                    font-weight: 400;
                    line-height: 100%;
                    color: #FFF;
                }
            }

            .in-hoem {
                display: block;
                width: 80%;
                margin: 0 auto 3.2rem auto;
            }

            .concept-wrapper {
                display: grid;
                grid-template-columns: repeat(3, minmax(0px, 1fr));
                grid-column-gap: 0.8rem;
                grid-row-gap: 0.8rem;
                margin-bottom: 3.2rem;

                li {
                    background: #FFF;
                    border-radius: 6px;
                    padding: 1.0rem 0.8rem;
                    height: 8.0rem;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    column-gap: 0.8rem;
                    line-height: 2.0rem;

                    img {
                        width: 2.4rem;
                        height: 2.4rem;
                        flex-shrink: 0;
                    }

                    &:first-child {
                        color: #FFF;
                        background-color: $green_color;
                        padding: 1.2rem 2.4rem;
                        justify-content: center;

                        img {
                            width: 3.2rem;
                            height: 3.2rem;
                        }
                    }
                }
            }

            .bottom-text {
                color: #FFF;
                text-align: center;
                letter-spacing: 0.05em;

                span {
                    color: $yellow_color;
                }
            }
        }

        .half-right {
            position: relative;

            .smareno-text {
                text-align: center;
                font-family: "Noto Sans JP";
                font-size: 12.4rem;
                font-weight: 400;
                color: $gray_color;
                white-space: nowrap;
                line-height: 100%;
                letter-spacing: 0.05em;

                span {
                    font-weight: 700;
                }
            }

            &::after {
                content: '';
                width: 100%;
                height: 7.3rem;
                background: $green_color;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        .right-container {
            padding: 2.4rem 4.0rem 6.4rem 4.0rem;

            .image001 {
                margin-top: -2.4rem;
                width: 84%;
                display: block;
                position: relative;
                margin: -2rem auto 1.6rem auto;
                z-index: 1;
            }

            .desc1 {
                line-height: 3.2rem;
                margin-bottom: 2.4rem;
                letter-spacing: 0.05em;
            }

            .green-pannel {
                padding: 2.4rem 3.2rem;
                background: $green_color;
                border-radius: 6px;
                color: #FFF;
                line-height: 3.2rem;
                margin-bottom: 2.4rem;
                text-align: center;

                span {
                    color: $yellow_color;
                }
            }

            .bottom-wrapper {
                width: 100%;
                position: relative;
                display: flex;
                align-items: center;
                column-gap: 3.2rem;
                margin-bottom: 2.4rem;

                img {
                    width: 30%;
                    flex-shrink: 0;
                }

                .desc {
                    line-height: 3.2rem;

                    span {
                        color: $green_color;
                    }
                }
            }

            .bottom-img {
                position: relative;
                width: 100%;
                z-index: 1;
            }
        }
    }

    .section2 {
        padding: 14rem 0;

        .head-text {
            width: fit-content;
            margin: 0 auto 4.4rem auto;
        }

        .catchcopy-explain {
            display: flex;
            column-gap: 5.6rem;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 4.8rem;

            .explain {
                display: flex;
                flex-direction: column;
                row-gap: 2.4rem;

                li {
                    display: flex;
                    position: relative;
                    column-gap: 1.2rem;
                    align-items: center;

                    &:first-child {
                        &::before {
                            display: none;
                        }
                    }

                    &:last-child {
                        &::before {
                            display: none;
                        }
                    }

                    &::before {
                        position: relative;
                        content: '';
                        width: 1.6rem;
                        height: 1.6rem;
                        background: $green_color;
                    }
                }
            }

            .image004 {
                width: 35%;
            }
        }

        .serve-catch {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-around;
            column-gap: 2.4rem;

            .catch-pannel {
                width: 45%;
                padding: 3.2rem;
                border-radius: 15px;
                background: #ffe10930;
                border: 1px solid #ACACAC;
                box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);

                .old-concept {
                    margin-left: 3.2rem;
                    margin-bottom: 1.6rem;

                    li {
                        line-height: 3.2rem;
                        list-style: circle;
                    }
                }

                .desc {
                    line-height: 3.2rem;
                }
            }

            .left-arrow {
                width: 6.4rem;
            }

            .explain-pannel {
                width: 55%;
                padding: 3.2rem;
                background: #249e5421;
                border-radius: 15px;
                border: 1px solid #ACACAC;
                box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);

                .underline-wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    line-height: 3.2rem;

                    span {
                        line-height: 3.2rem;
                    }
                }

                .desc {
                    line-height: 3.2rem;
                    margin-bottom: 1.2rem;

                    b {
                        text-decoration: underline;
                    }
                }

                .bottom-desc {
                    line-height: 3.2rem;

                    .green-text {
                        color: $green_color;
                    }
                }

            }
        }
    }

    .no1 {
        padding-bottom: 14rem;

        .top-part {
            display: flex;
            align-items: flex-end;
            column-gap: 4.8rem;
            margin-bottom: 4.8rem;

            .left-part {
                .head-text {
                    color: $red_color;
                    text-shadow: 3px 3px 2px #F5E07D;
                    margin-bottom: 4.8rem;
                }

                .explain-pannel {
                    .title {
                        width: 100%;
                        height: fit-content;
                        padding: 1.6rem 0;
                        text-align: center;
                        color: #FFF;
                        border-radius: 10px 10px 0 0;
                        background: $green_color;
                    }

                    .content {
                        padding: 2.4rem;
                        border: 2px solid $green_color;
                        border-radius: 0 0 10px 10px;
                        line-height: 2.8rem;
                    }
                }
            }

            .image005 {
                width: 40%;
            }
        }

        .bottom-part {
            .title {
                width: 100%;
                height: fit-content;
                padding: 2.0rem 0;
                text-align: center;
                color: #FFF;
                border-radius: 10px 10px 0 0;
                background: $green_color;
            }

            .content {
                padding: 2.4rem 2.4rem 0 2.4rem;
                border: 2px solid $green_color;
                border-radius: 0 0 10px 10px;
                line-height: 2.8rem;
                display: flex;
                column-gap: 2.4rem;

                .no-wrapper {
                    display: grid;
                    grid-template-columns: repeat(4, minmax(0px, 1fr));
                    grid-column-gap: 1.2rem;
                    grid-row-gap: 1.2rem;

                    .item {
                        img {
                            width: 100%;
                        }
                    }
                }

                .image006 {
                    width: 22%;
                }
            }
        }
    }

    .review-section {
        background: $red_color;
        display: flex;
        align-items: flex-end;

        .half-wrapper {
            height: fit-content;
        }

        .half-container {
            max-width: 80rem;
        }

        .right-container {
            margin-left: 0;
        }

        .left-container {
            margin-right: 0;
        }

        .left-container {
            .head-text {
                color: #FFF;
                margin-bottom: 4.0rem;
            }

            .review-content {
                padding: 3.2rem 2.4rem;
                background-color: #FFF;
                border-radius: 10px;
                margin-bottom: 4.8rem;

                .underline-wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    line-height: 3.6rem;
                    color: $green_color;
                    margin-bottom: 1.6rem;

                    .underline-text {
                        display: flex;
                        align-items: flex-end;
                        width: fit-content;

                        &::after {
                            bottom: 0;
                        }

                        .font-36-700 {
                            font-family: 'Inter';
                            color: $green_color;
                            line-height: 3.6rem;
                            margin-bottom: -0.5rem;
                        }
                    }

                    .font-16-500 {
                        font-size: 1.6rem;
                        color: #333;
                        margin-bottom: -0.5rem;
                        line-height: 3.6rem;
                    }
                }

                .three-contents {
                    display: flex;
                    column-gap: 1.0rem;
                    margin-bottom: 1.6rem;

                    .content {
                        padding: 0.8rem 1.0rem;
                        text-align: center;
                        border: 1px solid #6f6f6f;
                        background: #e4e4e4;
                        line-height: 2.4rem;
                    }
                }

                .suumo-review {
                    margin-bottom: 1.2rem;

                    span {
                        font-family: "Inter";
                    }
                }

                .suumo-desc {
                    line-height: 2.4rem;
                    letter-spacing: 0;
                    margin-bottom: 2.4rem;
                }

                .google-review {
                    margin-bottom: 3.2rem;
                }

                .stars-img {
                    display: flex;
                    align-items: flex-end;
                    column-gap: 2.4rem;

                    .stars {
                        width: 56%;

                        .label {
                            margin-bottom: 2.0rem;
                            white-space: nowrap;
                        }

                        .star-wrapper {
                            display: flex;
                            align-items: center;
                            width: fit-content;
                            padding: 0.5rem 2rem;
                            border-radius: 90px;
                            background-color: $green_color;
                            column-gap: 0.4rem;

                            &:not(:last-child) {
                                margin-bottom: 0.5rem;
                            }

                            .star {
                                width: 2.4rem;
                                height: 2.4rem;
                            }

                            span {
                                color: #FFF;
                                margin-left: 1.6rem;
                            }
                        }
                    }

                    .image007 {
                        width: 42%;
                        height: fit-content;
                    }
                }
            }
        }

        .review-pannel {
            border-radius: 10px;
            background: #FFF;
            padding: 1.6rem;

            &:not(:last-child) {
                margin-bottom: 0.8rem;
            }

            .title {
                padding-bottom: 0.8rem;
                border-bottom: 1px solid #e4e4e4;
                margin-bottom: 0.8rem;
            }

            .content {
                line-height: 2.0rem;
            }
        }
    }

    .trouble-section {
        display: flex;
        align-items: flex-end;
        background: $green_color;

        .half-container {
            max-width: 80rem;
        }

        .right-container {
            margin-left: 0;
        }

        .left-container {
            margin-right: 0;
        }

        .head-text {
            position: relative;
            width: fit-content;
            color: #FFF;
            margin-bottom: 4.0rem;

            &::after {
                content: '';
                position: absolute;
                width: 70%;
                height: 5px;
                bottom: -2.6rem;
                left: 0;
                background: #FFF;
            }
        }

        .sub-head {
            color: #FFF;
            margin-bottom: 2.4rem;
        }

        .head-desc {
            color: #FFF;
            line-height: 3.0rem;
            margin-bottom: 3.2rem;
        }

        .cards-list {
            .card-item {
                width: 100%;
            }

            .card {
                position: relative;
                display: flex;
                column-gap: 1.2rem;

                &.reverse {
                    flex-direction: row-reverse;
                }

                .img-wrapper {
                    width: 15%;
                    display: flex;
                    align-items: flex-end;

                    img {
                        width: 100%;
                        height: fit-content;
                    }

                    .image008 {
                        width: 8.0rem;
                    }

                    .image009 {
                        width: 8.2rem;
                    }

                    .image010 {
                        width: 8.1rem;
                    }

                    .image011 {
                        width: 8.4rem;
                    }

                    .image012 {
                        width: 8.0rem;
                    }

                    .image013 {
                        width: 8.6rem;
                    }

                    .image014 {
                        width: 8.2rem;
                    }
                }
            }
        }
    }

    .feature {
        background-color: #f5fff9;
        background-image: url(../img/bg_blue.png);
        background-repeat: repeat;
        background-position: 50% 20px;
        background-size: 40px 40px;
        padding: 10rem 0;

        .container {
            position: relative;
        }

        .head-text {
            position: relative;
            color: #D81718;
            text-shadow: 3px 3px 2px #F5E07D;
            margin-bottom: 4.8rem;
        }

        .en-head-text {
            position: absolute;
            font-size: 14rem;
            color: #f9f9f9;
            text-shadow: 3px 2px 24px #d8dee7;
            top: 1rem;
            right: 0;
        }

        .head-desc {
            line-height: 3.2rem;
            margin-bottom: 4.8rem;
            z-index: 1;
            position: relative;
        }

        .plan-life {
            display: grid;
            grid-template-columns: repeat(2, minmax(0px, 1fr));
            column-gap: 3.2rem;

            .item {
                height: fit-content;

                .title {
                    position: relative;
                    color: #FFF;
                    background: $green_color;
                    width: 100%;
                    height: fit-content;
                    padding: 1.6rem 3.2rem;
                    border-radius: 15px 15px 0 0;
                    border: 2px solid $green_color;
                }

                .content-wrapper {
                    width: 100%;
                    height: 26rem;
                    padding: 3.2rem;
                    display: flex;
                    align-items: center;
                    column-gap: 1.6rem;
                    border-radius: 0 0 15px 15px;
                    border: 2px solid $green_color;

                    .content {
                        line-height: 2.4rem;
                    }

                    img {
                        width: 30%;
                        height: fit-content;
                    }
                }
            }
        }
    }

    .flow {
        background-color: #fefefe;
        background-image: url(../img/bg_blue.png);
        background-repeat: repeat;
        background-position: 50% 20px;
        background-size: 40px 40px;
        padding: 10rem 0;

        .container {
            position: relative;
            max-width: 116rem;
        }

        .head-text {
            position: relative;
            color: #D81718;
            text-shadow: 3px 3px 2px #F5E07D;
            margin-bottom: 4.8rem;
        }

        .en-head-text {
            position: absolute;
            font-size: 14rem;
            color: #fdfdfd;
            text-shadow: 3px 2px 42px #d6d8dbc9;
            top: 3.2rem;
            right: 8.4rem;
        }

        .flow-steps {
            display: block;
            position: relative;
            margin-bottom: 10.4rem;

            .each-step {
                display: block;
                position: relative;

                &:not(:last-child) {
                    padding-bottom: 1.6rem;
                }

                &::before {
                    position: absolute;
                    content: "";
                    width: 2px;
                    height: calc(100% - 3.2rem);
                    left: 3.2rem;
                    top: 3.2rem;
                    background-color: $green_color;
                }

                .step-wrapper {
                    display: flex;
                    align-items: center;
                    column-gap: 3.2rem;
                    position: relative;

                    .step-number {
                        aspect-ratio: 1 / 1;
                        display: flex;
                        position: relative;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        width: 6.4rem;
                        height: 6.4rem;
                        background-color: $green_color;
                        border-radius: 50px;
                        flex-shrink: 0;
                        margin-bottom: auto;

                        .label {
                            color: #FFF;
                            font-family: "Montserrat";
                            font-size: 1.2rem;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 1.2rem;
                            letter-spacing: 1.2px;
                            margin-top: 0.3rem;
                            margin-bottom: 0.3rem;
                        }

                        .num {
                            color: #FFF;
                            font-family: "Montserrat";
                            font-size: 2.8rem;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 2.4rem;
                            letter-spacing: 3.8px;
                        }
                    }

                    .step-content {
                        position: relative;
                        width: 100%;
                        display: flex;
                        column-gap: 3.2rem;
                        justify-content: space-between;

                        .content-wrapper {
                            width: calc(75% - 1.6rem);
                        }

                        img {
                            width: 25%;
                            border-radius: 15px;
                        }

                        .step-title {
                            color: $green_color;
                            font-family: "Noto Sans CJK JP";
                            font-size: 2.4rem;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 6.0rem;
                            letter-spacing: 2.4px;
                        }

                        .desc {
                            color: #333;
                            font-family: "Noto Sans CJK JP";
                            font-size: 1.6rem;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 3.2rem;
                            letter-spacing: 1.6px;
                        }
                    }
                }
            }
        }
    }

    .benefit {
        background: $red_color;
        display: flex;
        align-items: flex-end;

        .half-left {
            background: $green_color;
        }

        .half-right {
            background: $red_color;
        }

        .half-container {
            position: relative;
        }

        .head-text {
            display: block;
            width: fit-content;
            margin-left: auto;
            color: #FFF;
            text-shadow: 3px 3px 2px $green_color;
            margin-bottom: 12rem;
        }

        .en-head-text {
            position: absolute;
            font-size: 14rem;
            color: #f9f9f92b;
            // text-shadow: 3px 2px 24px #d8dee7;
            top: 5rem;
            right: 47%;
            white-space: nowrap;
        }

        .head-desc {
            color: #FFF;
            line-height: 3.2rem;
            margin-bottom: 3.6rem;
        }

        .href-long-term-plan {
            color: $yellow_color;
        }

        .href-life-planning {
            color: $yellow_color;
        }

        .benefit-wrapper {
            display: grid;
            grid-template-columns: repeat(2, minmax(0px, 1fr));
            column-gap: 2.4rem;
            row-gap: 2.4rem;
            width: 100%;
            position: relative;

            .item {
                width: 100%;
                display: flex;
                flex-direction: column;

                .title {
                    color: #FFF;
                    padding: 1.2rem 2.4rem;
                    background: $green_color;
                    border: 2px solid $green_color;
                }

                .content {
                    padding: 2.4rem;
                    background: #FFF;
                    color: #333;
                    line-height: 2.6rem;
                    flex-grow: 1;
                }
            }
        }

        .header-text {
            color: $yellow_color;
            margin-bottom: 4.8rem;
        }

        .b-a-wrapper {
            display: flex;
            flex-direction: column;
            row-gap: 2.4rem;

            .item {
                .title {
                    padding: 1.0rem 1.6rem;
                    background: #e7f6ed;
                    border-radius: 10px 10px 0 0;
                }

                .content {
                    padding: 1.6rem;
                    background: #FFF;
                    line-height: 1.8rem;

                    p {
                        &:first-child {
                            margin-bottom: 0.8rem;
                        }
                    }

                    .red-color {
                        color: $red_color;
                        font-weight: 700;
                    }

                    .green-color {
                        font-weight: 700;
                        color: $green_color;
                    }
                }
            }
        }
    }

    .tens-rule {
        display: flex;
        align-items: flex-end;
        background: $red_color;

        .half-left {
            background: $red_color;

            .head-text {
                color: $yellow_color;
                margin-bottom: 4.8rem;
            }

            .rule-wrapper {
                margin-bottom: 4.8rem;

                .item {
                    display: flex;
                    position: relative;
                    width: 100%;
                    height: 5.2rem;
                    box-shadow: 6px 6px 6px #7142425e;

                    &:not(:last-child) {
                        margin-bottom: 1.2rem;
                    }

                    .order {
                        display: flex;
                        align-items: center;
                        width: fit-content;
                        height: 100%;
                        background: $green_color;
                        padding: 1px 2.4rem;
                        color: #FFF;
                        flex-shrink: 0;
                    }

                    .content {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        background: #FFF;
                        padding: 1px 2.4rem;

                        .underline-text {
                            white-space: nowrap;
                            margin-bottom: 0.2rem;

                            &::after {
                                bottom: 0.1rem;
                            }
                        }
                    }
                }
            }

            .desc-wrapper {
                position: relative;
                width: 100%;
                display: flex;
                column-gap: 2.4rem;
                margin-bottom: 3.2rem;

                img {
                    width: 25%;
                }

                .content {
                    position: relative;
                    padding: 1.2rem;
                    width: 75%;
                    height: fit-content;
                    line-height: 2.4rem;
                    border-radius: 15px;
                    background: white;
                    margin-top: -2.4rem;
                    box-shadow: 6px 6px 6px #7142425e;

                    &::before {
                        display: block;
                        position: absolute;
                        left: -1.7rem;
                        top: 2.4rem;
                        content: '';
                        width: 0;
                        height: 0;
                        border-top: 1.9rem solid transparent;
                        border-right: 2rem solid #FFF;
                        border-bottom: 0.3rem solid transparent;
                    }

                }
            }

            .items-list {
                width: 100%;
                position: relative;

                .item {
                    position: relative;
                    width: 100%;
                    padding-bottom: 1.2rem;
                    margin-bottom: 2.0rem;
                    border-bottom: 1px dotted #eeeeee91;

                    .href-btn {
                        width: fit-content;
                        color: #FFE109;

                    }

                    .href-link {
                        color: #77bf70;
                    }

                    .content {
                        line-height: 2.4rem;
                        color: #FFF;
                    }
                }
            }
        }

        .half-right {
            background: $green_color;

            .header-text {
                color: #FFF;
                margin-bottom: 2.4rem;
            }

            .desc-image {
                position: relative;
                width: 100%;
                display: flex;
                column-gap: 2.4rem;
                margin-bottom: 2.4rem;

                .desc {
                    color: #FFF;
                    line-height: 2.8rem;
                }

                img {
                    margin-top: -7.6rem;
                    width: 20%;
                    height: fit-content;
                }
            }

            .items-list {
                .item {
                    list-style: none;

                    &:not(:last-child) {
                        margin-bottom: 1.6rem;
                    }

                    .title {
                        margin-bottom: 1.2rem;
                        color: #FFE109;
                    }

                    .content {
                        margin-bottom: 1.2rem;
                        color: #FFF;
                        line-height: 2.0rem;
                    }
                }
            }
        }
    }

    .distinction {
        padding: 12rem 0;

        .container {
            position: relative;
        }

        .head-text {
            display: block;
            width: fit-content;
            margin: 0 auto 6.0rem auto;
            position: relative;
            color: #D81718;
            text-shadow: 3px 3px 2px #F5E07D;
            z-index: 1;
        }

        .en-head-text {
            position: absolute;
            font-size: 14rem;
            color: #f9f9f9;
            text-shadow: 3px 2px 24px #d8dee7;
            top: -1rem;
            right: 0;
        }

        .distinction-wrapper {
            position: relative;
            z-index: 1;

            &:not(:last-child) {
                margin-bottom: 6.0rem;
            }

            .sub-head-text {
                color: $green_color;
                margin-bottom: 3.2rem;

                span {
                    font-family: "Inter";
                    font-size: 3.6rem;
                }
            }

            .head-desc {
                line-height: 3.2rem;
                margin-bottom: 3.2rem;
            }
        }

        .distinction2 {
            .sub-head-text {
                text-align: right;
            }

            .head-desc {
                text-align: right;
            }
        }

        .distinction-list {
            position: relative;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, minmax(0px, 1fr));
            column-gap: 2.4rem;
            margin-bottom: 3.2rem;

            .distinction-item {
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 2.4rem 1.6rem;
                border: 1px solid $green_color;
                border-radius: 10px;

                .title {
                    margin-bottom: 2.4rem;
                    text-align: center;
                    letter-spacing: -0.05em;

                }

                .content {
                    line-height: 2.4rem;
                    flex-grow: 1;

                    span {
                        display: block;
                        margin-bottom: 1.2rem;
                    }
                }
            }
        }

        .client-review {
            border-radius: 5px;
            background: #baeff4;
            padding: 3.2rem 2.4rem 2.4rem 2.4rem;

            .header-text {
                display: block;
                width: fit-content;
                margin: 0 auto 2.4rem auto;
                color: $green_color;

            }

            .review-list {
                display: grid;
                grid-template-columns: repeat(3, minmax(0px, 1fr));
                column-gap: 2.4rem;

                .review-item {
                    margin-bottom: 0;
                    padding: 2.4rem 1.6rem 1.6rem 1.6rem;
                    height: -webkit-fill-available;

                    .card-wrapper {

                        .title {
                            display: block;
                            width: fit-content;
                            margin: 0 auto 1.2rem auto;
                        }

                        .content {
                            line-height: 2.4rem;
                        }
                    }
                }
            }
        }
    }

    .qa-section {
        padding: 16rem 0;
        background-color: #f8f8f8;
        background-image: url(../img/bg_blue.png);
        background-repeat: repeat;
        background-position: 50% 20px;
        background-size: 40px 40px;

        .faq-header {
            margin-bottom: 6.0rem;

            .head-text {
                color: $green_color;
                display: block;
                width: fit-content;
                margin: 0 auto;
            }

            .filter-search {
                display: none;
            }

        }
    }

    .employees {
        padding: 14rem 0;
        background: #f0f0f0;

        .head-text {
            display: block;
            width: fit-content;
            margin: 0 auto 6.4rem auto;
            color: $green_color;
        }

        .team-section {
            display: grid;
            grid-template-columns: repeat(3, minmax(0px, 1fr));
            column-gap: 3.2rem;
            margin-bottom: 6.0rem;

        }

        .team-member {
            text-align: center;
            padding: 3.6rem 2.4rem 2.4rem 2.4rem;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.21);
            transition: transform 0.3s ease-in-out;
            position: relative;
            width: 100%;

            &:hover {
                transform: translateY(-10px);

                .fa {
                    transform: scale(1.2);
                    color: #007AFF;
                }
            }

            .role {
                color: #888;
                margin-bottom: 10px;
            }

            img {
                width: 50%;
                aspect-ratio: 1 / 1;
                border-radius: 50%;
                object-fit: cover;
                margin-bottom: 1.6rem;
            }

            h3 {
                font-weight: 700;
                margin: 0 0 1.2rem;
            }

            p {
                line-height: 2.4rem;
            }
        }

        .fa {
            display: none;
            font-size: 24px;
            margin: 0 10px;
            color: #000;
            transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
            text-decoration: none;
        }

        .team {
            width: 100%;
            border-radius: 15px;
        }
    }

    .company {
        padding: 14rem 0;
        background-image: url(../img/bg_blue.png);
        background-repeat: repeat;
        background-position: 50% 20px;
        background-size: 40px 40px;

        $primary-color: #FF6B6B;
        $primary-color-hover: scale-color($primary-color, $lightness: 32%);

        .container {
            position: relative;
            max-width: 102.4rem;
        }

        .head-text {
            margin-bottom: 4.8rem;
        }

        .en-head-text {
            position: absolute;
            font-size: 14rem;
            color: #f9f9f9;
            text-shadow: 3px 2px 24px #d8dee7;
            top: 1rem;
            right: -8.0rem;
        }

        .head-desc {
            line-height: 3.2rem;
            padding-bottom: 1.6rem;
            border-bottom: 1px solid#e4e4e4;
            margin-bottom: 4.8rem;

            .underline-text {
                margin-bottom: 2.4rem;
            }
        }

        a {
            color: $primary-color;

            &:hover {
                color: $primary-color-hover;
                text-decoration: none;
            }
        }

        /*==================================
    TIMELINE
==================================*/

        /*-- GENERAL STYLES
    ------------------------------*/

        .timeline-wrapper {
            padding-bottom: 1.6rem;
            border-bottom: 1px solid #e4e4e4;
            margin-bottom: 6.0rem;
        }

        .timeline {
            line-height: 1.4em;
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100%;

        }

        /*----- TIMELINE ITEM -----*/

        .timeline-item {
            padding-left: 40px;
            position: relative;

            &:last-child {
                padding-bottom: 0;
            }
        }

        /*----- TIMELINE INFO -----*/

        .timeline-info {
            letter-spacing: 0.05em;
            margin: 0 0 .5em 0;
            text-transform: uppercase;
            white-space: nowrap;
        }

        /*----- TIMELINE MARKER -----*/

        .timeline-marker {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 15px;

            &:before {
                background: transparent;
                border: 2px solid $primary-color;
                border-radius: 100%;
                content: "";
                display: block;
                height: 15px;
                position: absolute;
                top: 4px;
                left: 0;
                width: 15px;
                transition: background 0.3s ease-in-out,
                    border 0.3s ease-in-out;
            }

            &:after {
                content: "";
                width: 2px;
                border-radius: 10px;
                background: #CCD5DB;
                display: block;
                position: absolute;
                top: 24px;
                bottom: 0;
                left: 6px;
            }

            .timeline-item:last-child &:after {
                content: none;
            }
        }

        .timeline-item:not(.period):hover .timeline-marker:before {
            background: $primary-color;
            border: 2px solid $primary-color;
        }

        /*----- TIMELINE CONTENT -----*/

        .timeline-content {
            padding-bottom: 2.4rem;

            p:last-child {
                margin-bottom: 0;
            }
        }

        /*----- TIMELINE PERIOD -----*/

        .period {
            padding: 0;

            .timeline-info {
                display: none;
            }

            .timeline-marker {
                &:before {
                    background: transparent;
                    content: "";
                    width: 15px;
                    height: auto;
                    border: none;
                    border-radius: 0;
                    top: 0;
                    bottom: 30px;
                    position: absolute;
                    border-top: 3px solid #CCD5DB;
                    border-bottom: 3px solid #CCD5DB;
                }

                &:after {
                    content: "";
                    height: 32px;
                    top: auto;
                }
            }

            .timeline-content {
                padding: 40px 0 70px;
                line-height: 2.4rem;
            }

            .timeline-title {
                margin: 0 0 1.6rem 0;
            }
        }

        /*----------------------------------------------
        MOD: TIMELINE SPLIT
    ----------------------------------------------*/

        .timeline-split {
            @media (min-width: 768px) {
                .timeline {
                    display: table;
                }

                .timeline-item {
                    display: table-row;
                    padding: 0;
                }

                .timeline-info,
                .timeline-marker,
                .timeline-content,
                .period .timeline-info {
                    display: table-cell;
                    vertical-align: top;
                }

                .timeline-content {
                    .timeline-title {
                        margin-bottom: 1.2rem;
                    }

                    p {
                        line-height: 2.4rem;
                    }
                }

                .timeline-marker {
                    position: relative;
                }

                .timeline-content {
                    padding-left: 30px;
                }

                .timeline-info {
                    padding-right: 30px;
                }

                .period .timeline-title {
                    position: relative;
                    left: -45px;
                }
            }
        }

        .profile-wrapper {
            margin-bottom: 4.8rem;
            .sub-head-text {
                margin-bottom: 2.4rem;
            }
            .company-profile {
                .record {
                    width: 100%;
                    position: relative;
                    display: flex;
                    border-bottom: 1px solid #e4e4e4;
                    &:first-child {
                        border-top: 1px solid #e4e4e4;
                    }

                    .table-head {
                        width: 25%;
                        padding: 2.0rem 2.4rem;
                        background: #f7f7f7;
                    }
                    .table-content {
                        width: 75%;
                        padding: 1.2rem 2.4rem;
                        background: #FFF;
                        line-height: 2.4rem;
                    }
                }
            }
        }

        .notice {
            border-radius: 15px;
            background: #99e696;
            padding: 3.2rem;
            .title-wrapper {
                display: flex;
                column-gap: 1.2rem;
                align-items: center;
                margin-bottom: 2.0rem;

                img {
                    width: 3.2rem;
                    height: 3.2rem;
                }

            }
            .content {
                line-height: 2.4rem;
            }
        }
    }

    
}